![Algoritmos e Estrutura de Dados I](AED1_banner.jpg)

## <font color='blue'>Algorítmos e Estrutura de Dados I</font>
### <font color='blue'>Aula 06 - Estrutura Sequencial</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.12.4

#### Pressione as teclas shift e enter para executar o código em uma célula ou pressione o botão Run no menu superior.

## <font color='blue'>Recapitulando</font>

### Operações Aritméticas

In [4]:
# Soma
4 + 4

8

In [ ]:
# Subtração
4 - 3

In [ ]:
# Multiplicação
3 * 3

In [ ]:
# Divisão
3 / 2

In [ ]:
# Potência
4 ** 2

In [3]:
# Módulo
10 % 3

1

### Função Type

In [6]:
type(5)

int

In [5]:
type(5.0)

float

In [8]:
a = '3Estou estudando na Fatec Votorantim'
type(a)

str

### Operações com Números Float

In [9]:
3.1 + 6.4

9.5

In [10]:
4 + 4.0

8.0

In [ ]:
4 + 4

In [ ]:
# Resultado é um número float
4 / 2

In [ ]:
# Resultado é um número inteiro
4 // 2

In [ ]:
4 / 3.0

In [ ]:
4 // 3.0

### Conversão

In [11]:
float(9)

9.0

In [13]:
int(6.0)

6

In [ ]:
int(6.5)

In [ ]:
int(6.6)

In [ ]:
round(6.5)

In [ ]:
round(6.6)

### Hexadecimal e Binário

In [14]:
hex(394)

'0x18a'

In [15]:
hex(217)

'0xd9'

In [16]:
bin(286)

'0b100011110'

In [17]:
bin(390)

'0b110000110'

### Funções abs, round e pow

In [18]:
# Retorna o valor absoluto
abs(-8)

8

In [19]:
# Retorna o valor absoluto
abs(8)

8

In [21]:
# Retorna o valor com duas casas decimais
round(3.14651922, 2)

3.15

In [22]:
# Potência
pow(4,2)

16

In [23]:
# Potência
pow(5,3)

125

### Trabalhando com Variáveis

In [26]:
# Atribuindo o valor 1 à variável var_teste
var_teste = 6

In [27]:
# Imprimindo o valor da variável
var_teste

6

In [34]:
# Imprimindo o valor da variável
print(var_teste)

2

In [31]:
var_teste = 2

In [ ]:
var_teste

In [ ]:
type(var_teste)

In [35]:
var_teste = 9.5

In [36]:
type(var_teste)

float

In [ ]:
x = 1

In [37]:
x

NameError: name 'x' is not defined

### Declaração Múltipla

In [38]:
pessoa1, pessoa2, pessoa3 = "Bob", "Maria", "Ana"

In [39]:
pessoa1

'Bob'

In [40]:
pessoa2

'Maria'

In [41]:
pessoa3

'Ana'

In [42]:
fruta1 = fruta2 = fruta3 = "Melancia"

In [43]:
fruta1

'Melancia'

In [44]:
fruta2

'Melancia'

In [45]:
fruta3

'Melancia'

In [46]:
# Fique atento!!! Python é case-sensitive. Criamos a variável fruta2, mas não a variável Fruta2.
# Letras maiúsculas e minúsculas tem diferença no nome da variável.
Fruta2

NameError: name 'Fruta2' is not defined

> Pode-se usar letras, números e underline em nome de variável (mas não se pode começar com números).

In [47]:
x1 = 50

In [48]:
x1

50

In [49]:
# Mensagem de erro, pois a linguagem Python não permite nomes de variáveis que iniciem com números
1x = 50

SyntaxError: invalid decimal literal (319158066.py, line 2)

> Não se pode usar palavras reservadas como nome de variável

- False      
- class      
- finally    
- is         
- return
- None       
- continue   
- for        
- lambda     
- try
- True       
- def        
- from       
- nonlocal   
- while
- and        
- del        
- global     
- not        
- with
- as         
- elif       
- if         
- or         
- yield
- assert     
- else       
- import     
- pass
- break      
- except     
- in         
- raise

In [50]:
# Não podemos usar palavras reservadas como nome de variável
break = 1

SyntaxError: invalid syntax (103517557.py, line 2)

### Variáveis Atribuídas a Outras Variáveis e Ordem dos Operadores

In [51]:
largura = 2

In [52]:
altura = 4

In [55]:
area = largura * altura

In [56]:
area

8

In [61]:
perimetro = 2 * largura + 2 * altura

In [62]:
perimetro

12

In [59]:
# A ordem dos operadores é a mesma seguida na Matemática
perimetro = 2 * (largura + 2)  * altura

In [ ]:
perimetro

### Operações com Variáveis

In [ ]:
idade1 = 25

In [ ]:
idade2 = 35

In [ ]:
idade1 + idade2

In [ ]:
idade2 - idade1

In [ ]:
idade2 * idade1

In [ ]:
idade2 / idade1

In [ ]:
idade2 % idade1

### Concatenação de Variáveis

In [74]:
nome = "Bob"

In [76]:
sobrenome = "Marley"

In [77]:
fullName = nome + " " + sobrenome

In [78]:
fullName

'Bob Marley'

### Criando uma String

Para criar uma string em Python você pode usar aspas simples ou duplas. Por exemplo:

In [ ]:
# Uma única palavra
'Oi'

In [ ]:
# Uma frase
'Criando uma string em Python'

In [ ]:
# Podemos usar aspas duplas
"Podemos usar aspas duplas ou simples para strings em Python"

In [ ]:
# Você pode combinar aspas duplas e simples
"Testando strings em 'Python'"

### Imprimindo uma String

In [79]:
print ('Testando Strings em Python')

Testando Strings em Python

In [80]:
print ('Testando \n Strings \n em \n Python')

Testando
 Strings
 em
 Python

In [ ]:
print ('\n')

### Indexando Strings

In [81]:
# Atribuindo uma string
s = 'Projet pyPRO'

In [98]:
s[2:5:1]

'oje'

In [82]:
print(s)

Projet pyPRO

> Indexação em Python começar por zero.

In [83]:
# Primeiro elemento da string
s[0]

'P'

In [84]:
s[1]

'r'

In [85]:
s[2]

'o'

In [86]:
s[3]

'j'

In [87]:
s[4]

'e'

Podemos usar um : para executar um slicing que faz a leitura de tudo até um ponto designado. Por exemplo:

In [ ]:
# Retorna todos os elementos da string, começando pela posição 
# (lembre-se que Python começa a indexação pela posição 0),
# até o fim da string.
s[1:]

In [88]:
# A string original permanece inalterada
s

'Projet pyPRO'

In [89]:
# Retorna tudo até a posição de índice 3
s[:3]

'Pro'

In [90]:
# Retorna tudo até a posição de índice 4
s[:4]

'Proj'

In [91]:
# Nós também podemos usar a indexação negativa e ler de trás para frente
s[-1]

'O'

In [92]:
# Retornar tudo, exceto a última letra
s[:-1]

'Projet pyPR'

Nós também podemos usar a notação de índice e fatiar a string em pedaços específicos (o padrão é 1). 

Por exemplo, podemos usar dois pontos duas vezes em uma linha e, em seguida, um número que especifica a frequência para retornar elementos.

In [93]:
s[::1]

'Projet pyPRO'

In [94]:
s[::2]

'Poe yR'

In [95]:
s[::-1]

'ORPyp tejorP'

### Propriedades de Strings

In [ ]:
s

In [ ]:
# Alterando um caracter (não é possível alterar um elemento da string)
s[0] = 'x'

In [ ]:
# Concatenando strings
s + ' é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'

In [ ]:
s = s + ' é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'

In [ ]:
print(s)

In [ ]:
# Podemos usar o símbolo de multiplicação para criar repetição!
letra = 'w'

In [ ]:
letra * 3

In [104]:
nome = input("Digite seu nome: ")
idade= input("Digite sua idade: ")
print(nome, " tem ", idade, " anos!")

Digite seu nome:  Gabriel
Digite sua idade:  19

Gabriel  tem  19  anos!

In [108]:
x=int(input("Digite o valor de x: "))
y=int(input("Digite o valor de y: "))
print ("resultado da soma: ", (x+y))

Digite o valor de x:  5
Digite o valor de y:  5

resultado da soma:  10

In [109]:
base= float(input("digite a base: "))
altura =  float(input("digite a altura "))
area= base*altura
print( "area = ", area)

digite a base:  5
digite a altura  5

area =  25.0

In [119]:
c=int(input("digite a temperatura: "))
f=(9*c+160)/5
print(f" a temperatura em fare = {f} " )

digite a temperatura:  25

 a temperatura em fare = 77.0

## <font color='blue'>Estrutura Sequencial</font>

In [129]:
from math import sqrt
x1,x2,y1,y2=float(input("coloque valor de x1 = ")), float(input("coloque valor de x2 = ")), float(input("coloque valor de x3 = ")), float(input("coloque valor de x4 = "))
dx=x2-x1
dy=y2-y1
dist=sqrt(dx*dx+dy*dy)
print(dist)

coloque valor de x1 =  10
coloque valor de x2 =  10
coloque valor de x3 =  10
coloque valor de x4 =  10

0.0

## Pseudocódigo 1 - Calcular a Área de Um Paralelograma

Nota: Um paralelogramo é um quadrilátero com lados opostos paralelos (e portanto ângulos opostos iguais). Um quadrilátero com lados iguais é chamado de losango e um paralelogramo cujos ângulos são todos ângulos retos é chamado de retângulo.

Inicie
    
    Exiba "Bem-vindo ao Calculador de Área de Paralelogramo"
    Peça para o usuário inserir o comprimento da base
    Armazene o comprimento da base em uma variável
    Peça para o usuário inserir a altura
    Armazene a altura em uma variável
    Calcule a área do paralelogramo:  base * altura
    Armazene o resultado em uma variável
    Exiba o resultado
    
Fim

## Convertendo o Pseudocódigo 1 em Programa Python

In [ ]:
print("Bem-vindo ao Calculador de Área de Paralelogramo")

In [ ]:
base = float(input("Insira o comprimento da base: "))

In [ ]:
altura = float(input("Insira a altura: "))

In [ ]:
area = base * altura

In [ ]:
print("A área do paralelogramo é: ", area)

### EXEMPLO 01
Calcular a área de um quadrilátero, com dois lados iguais. Para isso faz a leitura de dois números inteiros, representando os lados e imprime os valores lidos e a área calculada.

base, altura, area representam os nomes das variáveis – podem ser do tipo inteiro ou do tipo real.

In [ ]:
base = float(input('Entre com a base:'))
altura = float(input('Entre com a altura:'))
area = base * altura
print('A área é = ', area)

## EXEMPLO 02
Ler a temperatura em °C e apresentar em °F. 

Dados : F=(9*C+160)/5.

In [ ]:
celsius = float(input("Entre com a temperatura em C:"))
fare = (9 * celsius + 160) / 5
print("A temperatura em F = ", fare)

In [ ]:
## EXEMPLO 03
CALCULAR A DISTÂNCIA ENTRE 2 PONTOS.

![Figura](exemplo03.JPG)

In [ ]:
from math import pow, sqrt

x1 = float(input("Entre com x1: "))
y1 = float(input("Entre com y1: "))
x2 = float(input("Entre com x2: "))
y2 = float(input("Entre com y2: "))
dx = x2 - x1
dy = y2 - y1
d = sqrt(pow(dx,2)+pow(dy,2))
print("Distância = ", d)

## <font color='blue'>Exercícios</font>

1. Faça um programa para ler e escrever na tela o seu nome e a sua idade.

In [ ]:
nome= input("digite seu nome: ")

2. Faça um programa para ler e escrever na tela o seu nome e a sua idade.

In [ ]:
idade=int(input("Digite sua idade: "))

3. Faça um algoritmo que receba o ano de nascimento de uma pessoa e o ano atual e mostre:
A idade dessa pessoa em anos;
A idade dessa pessoa em meses;
A idade dessa pessoa em dias;
A idade dessa pessoa em semanas.

In [131]:
ano_nascimento= int(input("Digite o ano de seu nascimento: "))
ano_corrente= int(input("Digite o ano atual: "))
idade =  ano_corrente - ano_nascimento
meses = idade*12
dias = idade*365
semanas = idade*52
print(f"Essa pessoa tem {idade} anos. E {meses} meses.")
print(f"E {dias} dias e {semanas} semanas.")

Digite o ano de seu nascimento:  2005
Digite o ano atual:  2024

Essa pessoa tem 19 anos. E 228 meses.
E 6935 dias e 988 semanas.

4. Faça um algoritmo que receba o salário de um funcionário, calcule e mostre o novo salário, sabendo-se que este sofreu um aumento de 25%.

In [140]:
nome = input("Digite o nome do funcionario: ")
salario_ini= float(input("Digite o salario de: "))
salario_fin=(salario_ini*25)/100+salario_ini
print("O novo salario de ",nome, "é de R$",salario_fin)

Digite o nome do funcionario:  Vinicius
Digite o salario de:  2000

O novo salario de  Vinicius é de R$ 2500.0

2111

5. Faça um algoritmo que calcule e mostre a área de um círculo. Sabe-se que 
	Area= π * R2

	π = 3,115

In [139]:
from math import sqrt, pi, pow

raio= float(input("Digite o raio: "))
area= pi * pow(raio,2)
print(f"A area desse circulo é: {area}")

Digite o raio:  2

A area desse circulo é: 12.566370614359172

6. Cada degrau de uma escada tem Xcm de altura. Faça um algoritmo que receba a altura de cada degrau em cm e a altura que o usuário deseja alcançar subindo a escada (em metros). Faça as conversões, calcule e mostre quantos degraus o usuário deverá subir para atingir seu objetivo.

Obs: não se preocupe com a altura do usuário!

In [147]:
from math import ceil

altura =  float(input("Digite a altura que deseja em m: "))
degrau = float(input("Digite a altura de degrau em cm: "))
degrau = altura * 100
qtd_deg = ceil(altura / degrau)
print(qtd_deg)

Digite a altura que deseja em m:  2
Digite a altura de degrau em cm:  20

1

## Fim da Aula 6